@charset "UTF-8";

* {

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {

    width: 0;
    height: 0;
}

img {
    width: 100vw;
    
}

a {
    display: block;
    text-decoration: none;
    background-color: darkred;
    padding: 20px;
    margin-top: -10px;
    text-align: center;
    font-weight: bolder;
    color: white;
}

a:hover {

    background-color: red;
}