@charset "UTF-8";

aside#sidebar .media-query {

display: none;

}

iframe#tela {

    position: relative;
    top: 30px;
    left: 31px;
    width: 255px;
    height: 190px;
    
}

section p {

    font-size: 0.905em;
}


form {
    
    margin-top: 6px;
}



@media screen and (min-width: 360px) and (max-width: 736px ) and (orientation: portrait) {
    
    aside#sidebar p.media-query {

        display: none;
        
        }

        section#ipad {

            width: 320px;
            height: 245px;
            margin-left: 43px;
            margin-top: 200px;
        }

        div#extra {

            width: 360px;
           
        }

        section#sociais {
 
            margin-left: 8px;
        }

        iframe#tela {

            left: 31px;
        }

        footer {

            width: 350px;
            text-align: center;
        }


        div#container {

            width: 100vw;
            height: 100vh;
        }

        aside#sidebar > p {

            font-size: 10px;
        }

        section.sec1 >p, section.sec2 >p {

            font-size: .9em;
    
        }
}




@media screen and (max-width: 768px) and (orientation: portrait){
    
    div#extra {
        margin-top: 149px;
    }
}




@media screen and (max-width: 1366px) and (orientation: portrait) {

    
    #container, #pagina {

        height: 90vh;
    }

    aside#sidebar .media-query {

        display: list-item;
        
        }

        div#extra {

            margin-top: 50px;
        }
}