@charset "UTF-8" ;

aside#sidebar .media-query {

display: none;

}

iframe#tela {

    position: relative;
    top: 31px;
    left: 31px;
    width: 255px;
    height: 190px;
}

section p {

    font-size: 0.905em;
}

form {
    margin-top: 6px;
}
    