@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); /* Fonte Web */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face { /* Fonte local */

    font-family: 'steelfish';
    src: url('../fontes-locais/steelfish\ rg.otf') format('opentype');
    font-weight: normal;
}

* { /* zera todas as margens e paddings */
    margin: 0;
    padding: 0;
}

:root { /* Variável */

   --color1: #1d3d76;
   --color2: #b74e07;
   --color3: #597dbd; 
   --color4: #f3cfb6;
   --color5: #f5f8fa;
   --color6: #fef6f8;
   --fonte-google: 'Architects Daughter', cursive;
   --fonte-google-2: 'Permanent Marker', cursive;
   --fonte-local: 'steelfish', cursive;
   --fonte-google-3: 'Rubik', sans-serif;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

::-webkit-scrollbar { /* Tira a barra de ralagem */

    width: 0;
    height: 0;
}




body {

    font-family: "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 15px;
    /* background-color: #fef6f82f; */
}

#container {

    max-width: 950px;
    width: 90%;
    background-image: url('../img/fundo-d-lapidado-preto-46614419.jpg');
    padding: 30px 0 0 0;
    margin: 20px auto;
    background-position: left center;
    background-attachment: fixed; 
}

div#pagina {

    max-width: 940px;
    width: 97.600%;
    background-color: white;
    background-image: linear-gradient(to right, #f6e2e718, #96c2e03b);  
}


/* ====================== header - Cabeçario ============================== */

header {

    margin-bottom: 20px;
    border-bottom: 2px dotted var(--color2);
    padding-top: 20px;
    
}

.logo { /* logo */

    float: left;
    font-size: 2.5em;
    margin-top: -17px;
    font-weight: bolder;
    margin-top: 5px;
}

span {

    display: block;
    font-size: .75em;
    font-size: small;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* ================================== Fim header ============================ */



/* ================================== Nav =================================== */

#navegacao { /* div navegação */

    float: right;
    position: relative;
}

nav ul > li {

    float: left;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 7px;
    padding: 5px;
    list-style: none;
}

nav > ul > li img {

    width: 35px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 5px;
    box-shadow: 2px 2px 6px black;
    margin-top: 25px;
    
}

nav > ul > li img:hover {

    border: 2px solid rgba(255, 0, 0, 0.938);
    transform: translate(-3px, -3px);
    transition: transform .5s, border 2s;
}

/* ====================================== Fim nav ===================================== */


/* ================================= Form - Formulário ====================== */

form {

    position: absolute;
    top: -14px;
    right: 0;
    margin-right: 20px;
}

form .senha {

    margin-left: 11px;
}

div#enviar-limpar {

    text-align: end;
}

form > div .enviar {

    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    
}

form > div .limpar {

    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.enviar:hover, .limpar:hover {

    background-color: var(--color5);
}
/* ====================== FIM - form -============================== */


/* ====================== sessões do - main ============================== */

main {

    width: 70%;
    float: left;
}

h2 {

    margin-bottom: 20px;
    padding: 10px;
}

section.sec1 {

    background: url('../img/fundo-fotografico-em-tecido-madeira-rustica-2-60x1-50m-sublimacao.jpg') no-repeat top center ;
    background-attachment: fixed;
    color: white;
    box-shadow: 2px 2px 10px black;
    
}

section p {

    margin-top: 20px;
    padding: 10px 10px 10px 15px;
    font-family: var(--fonte-google-3);
    font-size: 1em;
    font-style: normal;
}

section .img1 {

    float: left;
    margin-right: 5px;
}

section .img2 {

    float: left;
    margin-right: 5px;
}

section .cont1 {

    text-align: end;
    font-size: small;
    margin-top: -5px;
}

section .cont a {

    color: white;
}

section .cont {

    text-align: end;
    font-size: small;
    margin-top: -5px;
}
/* ====================== FIM - sessões do main ============================== */


/* ============== Links ====== */

.sec1 a, .sec2 a, #sidebar a, #extra a, footer a {

    text-decoration: none;
    font-style: italic;
    color: var(--color3);
    box-sizing: border-box;
}

.sec1 a:hover, .sec2 a:hover, #sidebar a:hover, footer a:hover {

    background-color: #f3cfb666;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    
}

/* ====================fim links======================*/


/* ====================== aside - barra lateral ============================== */
#sidebar {

    margin-left: 72%;
    background-color: var(--color5);
    font-size: .75em;
    padding: 5px;
    margin-right: 10px;
    font-style: italic;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.461);
}

#sidebar nav >ol li {

    text-align: end;
    list-style: none;
    margin-bottom: 2px;
}

#sidebar img {

    float: left;
    margin-right: 4px;
    margin-bottom: 3px;
    margin-top: 6px;
}

#sidebar p {

    padding: 5px;
}

/* ====================== FIM - barra lateral ============================== */


footer {

    background-color: var(--color5);
    padding: 10px;
    font-size: .75em;
    clear: both;
    margin: 10px;
}

