@charset "UTF-8";

iframe#tela {

    position: relative;
    top: 27px;
    left: 31px;
    width: 255px;
    height: 190px;
}

section p {

    font-size: 0.905em;
}


form {
    
    margin-top: 6px;
}
    